:80 {
	# Root folder Laravel
	root * /app/public

	# Batas ukuran upload
	request_body {
		max_size 10MB
	}

	# Optimasi Kompresi
	encode gzip zstd

	# Security Headers
	header {
		X-Frame-Options "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		Referrer-Policy "no-referrer-when-downgrade"
		Content-Security-Policy "default-src 'self' http: https: data: blob: 'unsafe-inline'"
		-X-Powered-By
		-Server
	}

	# Restriksi HTTP Method
	@invalid_method not method GET POST HEAD PUT PATCH DELETE OPTIONS
	respond @invalid_method 405

	# Hardening: Blokir eksekusi PHP di seluruh subfolder storage (rekursif)
	@php_in_storage path_regexp storage_php ^/storage/.*\.php$
	respond @php_in_storage 403

	# Hardening: Blokir akses ke file/folder tersembunyi
	@dotfiles {
		path /.*
		not path /.well-known/*
	}
	respond @dotfiles 403

	# Optimasi Caching Aset Statis (Glob path lebih cepat dari Regex)
	@static path *.jpg *.jpeg *.png *.gif *.ico *.css *.js *.eot *.ttf *.woff *.woff2 *.svg
	header @static Cache-Control "public, max-age=31536000, no-transform"

	# FrankenPHP: Otomatis menangani try_files Laravel, PHP execution, dan file_server
	php_server
}
